extends layout

block content
  <!-- Sticky nav bar begin -->
  nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.p-0(style="height:80px")
    div.container-fluid.pl-15.pr-15
      a.navbar-brand(href="/", alt="Homepage")
        img.d-inline-block.align-top(src="/imgs/bootstrap-solid.svg", width="30", height="30", alt="")
        | &nbsp;#{title}
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#bs-navbarNav", aria-controls="bs-navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.flex-row-reverse.collapse.navbar-collapse.bg-light(id="bs-navbarNav")
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="#") HOME
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="/about") ABOUT
          li.nav-item
            div.dropdown
              a.nav-link.dropdown-toggle(href="#", id="bs-dropdownMenuLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") PRODUCTS
              div.dropdown-menu(aria-labelledby="bs-dropdownMenuLink")
                a.dropdown-item(href="/product/cat1") Product Category 1
                a.dropdown-item(href="/product/cat2") Product Category 2
                a.dropdown-item(href="/product/cat3") Product Category 3
                div.dropdown-divider
                a.dropdown-item(href="/product/cat11") Product Category 11
                a.dropdown-item(href="/product/cat12") Product Category 12
          li.nav-item
            a.nav-link(href="/projects") PROJECTS
          li.nav-item
            a.nav-link(href="/news") NEWS
          li.nav-item
            a.nav-link(href="/contact") CONTACT
          form.form-inline(action="/search", post="GET")
            input.form-control.mr-sm-2(type="search", name="search", placeholder="Search", aria-label="Search")
            button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
  <!-- Sticky nav bar end -->

  div.carousel.slide(id="bs-carouselSlides", data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#bs-carouselSlides", data-slide-to="0")
      li(data-target="#bs-carouselSlides", data-slide-to="1")
      li(data-target="#bs-carouselSlides", data-slide-to="2")
      li(data-target="#bs-carouselSlides", data-slide-to="3")
    div.carousel-inner(style="height:600px")
      div.carousel-item.active
        img.d-block(src="/imgs/promotion-carousel-01.jpg" alt="promotion 01")
      div.carousel-item
        img.d-block(src="/imgs/promotion-carousel-02.jpg" alt="promotion 02")
      div.carousel-item
        img.d-block(src="/imgs/promotion-carousel-03.jpg" alt="promotion 03")
      div.carousel-item
        img.d-block(src="/imgs/promotion-carousel-04.jpg" alt="promotion 04")
    a.carousel-control-prev(href="#bs-carouselSlides", role="button", data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#bs-carouselSlides", role="button", data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next
