doctype html
html
  head
    title= title
    link(rel='icon', href='favicon.ico', mce_href='favicon.ico')
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block header-scripts
  body.p-0
    block content
    script(src='/static/js/jquery-3.3.1.min.js')
    script(src='/static/js/bootstrap.bundle.min.js')
    block footer-scripts
