extends template1-layout

block header-scripts
  link(href="/static/css/all.min.css", rel="stylesheet")
  link(href="/static/css/timeline.css", rel="stylesheet")
  link(href="/static/css/slider-pro.css", rel="stylesheet")

block content
  <!-- Carousel Banner Part Begin -->
  div.container-fluid.p-0
    div.carousel.slide(id="bs-carouselSlides", data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#bs-carouselSlides", data-slide-to="0")
        li(data-target="#bs-carouselSlides", data-slide-to="1")
        li(data-target="#bs-carouselSlides", data-slide-to="2")
        li(data-target="#bs-carouselSlides", data-slide-to="3")
      div.carousel-inner
        div.carousel-item.active
          img.d-block.w-100(src="/imgs/promotion-carousel-01.jpg" alt="promotion 01")
          div.carousel-caption.d-none.d-md-block
            h1.font-weight-bolder.text-primary Imagination, Inspiration, Innovation
        div.carousel-item
          img.d-block.w-100(src="/imgs/promotion-carousel-02.jpg" alt="promotion 02")
          div.carousel-caption.d-none.d-md-block
            h1.font-weight-bolder.text-secondary 想象, 灵感, 创新
        div.carousel-item
          img.d-block.w-100(src="/imgs/promotion-carousel-03.jpg" alt="promotion 03")
          div.carousel-caption.d-none.d-md-block
            h1.font-weight-bolder.text-warning Passion, Energy, Future
        div.carousel-item
          img.d-block.w-100(src="/imgs/promotion-carousel-04.jpg" alt="promotion 04")
          div.carousel-caption.d-none.d-md-block
            h1.font-weight-bolder.text-success 激情, 活力, 未来
      a.carousel-control-prev(href="#bs-carouselSlides", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#bs-carouselSlides", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
  <!-- Carousel Banner Part End -->

  <!-- About Part Begin -->
  div.container-fluid.bg-light
    div.container.pt-5.pb-5
      div.row.justify-content-center
        div.col.text-center.pt-3.pb-3
          h2.font-weight-bolder.custom-text-shadow-2px ABOUT US
          h6.text-secondary.custom-text-shadow-1px OUR MISSIONS
      div.row.justify-content-center
        div.col.pt-3.pb-3
          span.h5 This is a web page demo powered by Bootstrap.This is a web page demo powered by Bootstrap.This is a web page demo powered by Bootstrap.This is a web page demo powered by Bootstrap.This is a web page demo powered by Bootstrap.这是一个使用Bootstrap的网页示例。这是一个使用Bootstrap的网页示例。这是一个使用Bootstrap的网页示例。
      div.row.justify-content-center
        div.col.pt-3.pb-3
          div.row
            div.col
              img.img-fluid.rounded(src="/imgs/aboutus-02.jpg", alt="about us")
            div.col
              img.img-fluid.rounded(src="/imgs/aboutus-01.jpg", alt="about us")
        div.col-md-auto
        div.col.pt-3.pb-3
          div.row
            div.col.mt-0.mb-3
              div.card-deck.p-0
                div.card.bg-light.border-light.custom-div-about
                  div.card-body.pt-0.pl-0.pb-3.pr-3
                    i.fab.fa-font-awesome.fa-3x.costom-default-color-about
                    h5.card-title.font-weight-bold.custom-text-shadow-1px.costom-default-color-about Font Awesome
                    p.card-text Fontawesome helps us stepping upon the stage, able to get to the upper hand. 
                      br 
                      | Fontawesome图标助我们高飞。
                div.card.bg-light.border-light.custom-div-about
                  div.card-body.pt-0.pl-0.pb-3.pr-3
                    i.fab.fa-weixin.fa-3x.costom-default-color-about
                    h5.card-title.font-weight-bold.custom-text-shadow-1px.costom-default-color-about Tencent Wechat
                    p.card-text Used by largest population around the world. Wechat makes communication easier ever never.
                      br 
                      | 微信提升沟通效率。
          div.row
            div.col
              div.card-deck.p-0
                div.card.bg-light.border-light.custom-div-about
                  div.card-body.pt-0.pl-0.pb-3.pr-3
                    i.fab.fa-alipay.fa-3x.costom-default-color-about
                    h5.card-title.font-weight-bold.custom-text-shadow-1px.costom-default-color-about Alipay
                    p.card-text Jack Ma's contribution: Money is no longer money. It's becoming a number. 
                      br 
                      | 支付宝，剁手党，你懂的。
                div.card.bg-light.border-light.custom-div-about
                  div.card-body.pt-0.pl-0.pb-3.pr-3
                    i.fab.fa-apple.fa-3x.costom-default-color-about
                    h5.card-title.font-weight-bold.custom-text-shadow-1px.costom-default-color-about Apple
                    p.card-text The Apple without Steve Jobs is no longer Apple. Who will be the next?
                      br 
                      | 没有了乔布斯，苹果创意不再。
  <!-- About Part End -->

  <!-- Timeline Part Begin -->
  div.container-fluid.custom-timeline-bgcolor
    div.container-fluid.p-5
      div.text-center.custom-text-shadow-3px
        span TIMELINE
        h3.font-weight-bolder HISTORICAL EVENTS
      div.timeline
        div.timeline__wrap
          div.timeline__items
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2018.12
                p CCC v3.0 released.CC v3.0 released.CCC v3.0 released.CC v3.0 released.CCC v3.0 released.CC v3.0 released.
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2018.8
                p CCC v2.0 released.CCC v2.0 released.CCC v2.0 released.CCC v2.0 released.
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2018.2
                p CCC 
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2017.12
                p BBB v2.0 released.
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2016.12
                p BBB v1.0 released.
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2016.3
                p AAA v3.0 released.AAA v3.0 released.
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2015.11
                p AAA v2.0 released.AAA v2.0 released.
            div.timeline__item
              div.timeline__content
                h5.custom-text-shadow-1px 2015.5
                p AAA v1.0 released. BBB project started.
        button.timeline-nav-button.timeline-nav-button--prev
        button.timeline-nav-button.timeline-nav-button--next
        span.timeline-divider
  <!-- Note: Need to add script part below the body -->
  <!-- Timeline Part End -->
  
  <!-- Team Part Begin -->
  div.container-fluid.bg-light
    div.container.pt-5.pb-5
      div.text-center.custom-text-shadow-2px.pb-3
        h2.font-weight-bolder ELITE TEAM
        p WE ARE READY
      div.card-deck.pb-4
        div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
          img.img-fluid.rounded-circle(src="/imgs/team-p1.jpg", alt="Elite")
          div.card-body
            h5.card-title.custom-text-shadow-1px Kongfu Panda
            p.card-text You know who I am.
              br
              br
            ul.list-inline
              li.list-inline-item
                a.costom-team-color(href="#", target="_blank", rel="noopener noreferrer")
                  i.fab.fa-qq.fa-lg
              li.list-inline-item
              li.list-inline-item
                a.costom-team-color(href="mailto:#", rel="noopener noreferrer")
                  i.fas.fa-envelope.fa-lg
        div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
          img.img-fluid.rounded-circle(src="/imgs/team-p2.jpg", alt="Elite")
          div.card-body
            h5.card-title.custom-text-shadow-1px Ninja Elder
            p.card-text You know who I am.You know who I am.You know who I am.
            ul.list-inline
              li.list-inline-item
                a.costom-team-color(href="#", target="_blank", rel="noopener noreferrer")
                  i.fab.fa-qq.fa-lg
              li.list-inline-item
              li.list-inline-item
                a.costom-team-color(href="mailto:#", rel="noopener noreferrer")
                  i.fas.fa-envelope.fa-lg
        div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
          img.img-fluid.rounded-circle(src="/imgs/team-p3.jpg", alt="Elite")
          div.card-body
            h5.card-title.custom-text-shadow-1px Unknown Celebrity
            p.card-text You know who I am.
              br 
              | You know who I am.
            ul.list-inline
              li.list-inline-item
                a.costom-team-color(href="#", target="_blank", rel="noopener noreferrer")
                  i.fab.fa-qq.fa-lg
              li.list-inline-item
              li.list-inline-item
                a.costom-team-color(href="mailto:#", rel="noopener noreferrer")
                  i.fas.fa-envelope.fa-lg
      div.card-deck.pb-4
        div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
          img.img-fluid.rounded-circle(src="/imgs/team-p4.jpg", alt="Elite")
          div.card-body
            h5.card-title.custom-text-shadow-1px A Beauty
            p.card-text You know who I am.
            ul.list-inline
              li.list-inline-item
                a.costom-team-color(href="#", target="_blank", rel="noopener noreferrer")
                  i.fab.fa-qq.fa-lg
              li.list-inline-item
              li.list-inline-item
                a.costom-team-color(href="mailto:#", rel="noopener noreferrer")
                  i.fas.fa-envelope.fa-lg
        div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
          img.img-fluid.rounded-circle(src="/imgs/team-p5.jpg", alt="Elite")
          div.card-body
            h5.card-title.custom-text-shadow-1px Military Officer
            p.card-text You know who I am.
            ul.list-inline
              li.list-inline-item
                a.costom-team-color(href="#", target="_blank", rel="noopener noreferrer")
                  i.fab.fa-qq.fa-lg
              li.list-inline-item
              li.list-inline-item
                a.costom-team-color(href="mailto:#", rel="noopener noreferrer")
                  i.fas.fa-envelope.fa-lg
        div.card.text-center.rounded.shadow.pl-3.pr-3.pt-3
          img.img-fluid.rounded-circle(src="/imgs/team-p6.jpg", alt="Elite")
          div.card-body
            h5.card-title.custom-text-shadow-1px A Man
            p.card-text You know who I am.
            ul.list-inline
              li.list-inline-item
                a.costom-team-color(href="#", target="_blank", rel="noopener noreferrer")
                  i.fab.fa-qq.fa-lg
              li.list-inline-item
              li.list-inline-item
                a.costom-team-color(href="mailto:#", rel="noopener noreferrer")
                  i.fas.fa-envelope.fa-lg
  <!-- Team Part End -->

  <!-- News Part Begin -->
  div.container-fluid.custom-news-bgcolor
    div.container.pt-5.pb-3
      div.text-center.custom-text-shadow-2px.pb-3
        p 关注我们
        h2.font-weight-bolder LATEST NEWS
      div.card-deck.pb-4
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px 28 injured in Sicily in earthquake triggered by volcano eruption
            ui.list-inline
              li.list-inline-item
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-12-28
            p.card-text.custom-news-content-color Twenty-eight people were injured in Italy's Sicily on Wednesday in an earthquake triggered by the eruption of Mount Etna, Italian authorities said...
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px 告别2018，人类群星远行时<br>Condolence to the stars...
            ui.list-inline
              li.list-inline-item 
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-12-25
            p.card-text.custom-news-content-color 星星沉落在海洋中央，一支支歌曲在我心中消亡。——卡尔杜齐《离别》节选...创伤的世界与幻想的江湖...微小至纤维，无垠至宇宙...世界大爆炸...生活在别处...
      div.card-deck.pb-4
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px 中国海军非洲之角护航记事之一：10年护航显成效
            ui.list-inline
              li.list-inline-item 
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-10-8
            p.card-text.custom-news-content-color 2008年12月26日，中国海军首批护航编队解缆起航，赴亚丁湾、索马里海域执行护航任务。回看过去10年间，中国海军护航亚丁湾的成效已经显现...
        div.card.border-0.custom-news-bgcolor.pl-3.pr-3.pt-3
          div.card-body
            a.custom-news-title-color(href="#", target="_blank", rel="news")
              h4.card-title.custom-text-shadow-1px China, U.S. may meet in January for trade negotiation
            ui.list-inline
              li.list-inline-item 
                i.far.fa-newspaper.fa-lg.custom-news-content-color
              li.list-inline-item
                h6.card-text.custom-news-content-color 2018-9-25
            p.card-text.custom-news-content-color The delegations of China and the U.S. have stayed in close communication and have made plans to meet face-to-face in January...
  <!-- News Part End -->
             
  <!-- Slider Part Begin -->
  div.container-fluid.bg-white
    div.container-fluid.p-5
      div.container.pb-3
        div.text-center.custom-text-shadow-2px.pb-3
          p VISIT
          h2.font-weight-bolder HOTTEST PRODUCTS
      div.slider-pro(id="bs-hot-slider")
        div.sp-slides
          div.sp-slide
            a(href="/imgs/hot-p1.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p1.jpg")
              p.sp-caption HM0752
          div.sp-slide
            a(href="/imgs/hot-p2.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p2.jpg")
              p.sp-caption HM0903
          div.sp-slide
            a(href="/imgs/hot-p3.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p3.jpg")
              p.sp-caption HM0739
          div.sp-slide
            a(href="/imgs/hot-p4.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p4.jpg")
              p.sp-caption HM0725
          div.sp-slide
            a(href="/imgs/hot-p5.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p5.jpg")
              p.sp-caption HM0810
          div.sp-slide
            a(href="/imgs/hot-p6.jpg") 
              img.sp-image.img-fluid(src="/imgs/hot-p6.jpg")
              p.sp-caption HM0747
  <!-- Note: Need to add script part below the body -->
  <!-- Slider Part End -->

  <!-- Testimonial Part Begin -->
  div.container-fluid.custom-testimonial-bg
    div.container.pt-5.pb-5
      div.text-center.pb-3.text-dark.custom-text-shadow-white-1px
        h2.font-weight-bolder TESTIMONIALS
        p 客户感言
      div.carousel.slide(id="bs-testimonial-slide", data-ride="carousel")
        div.carousel-inner
          div.carousel-item.active
            div.text-center
              h3.font-weight-bold.text-success.custom-text-shadow-white-1px Mrs.Hoorazar
              h5.text-white comes from 
                span.text-warning.custom-text-shadow-white-1px United State
              div.container-fluid.w-75(style="height:140px")
                p.text-light The items are good. It made me feel like over the moon. The items are good. It made me feel like over the moon. The items are good. It made me feel like over the moon.
          div.carousel-item
            div.text-center
              h3.font-weight-bold.text-success.custom-text-shadow-white-1px 章小姐
              h5.text-white comes from 
                span.text-warning.custom-text-shadow-white-1px 中国
              div.container-fluid.w-75(style="height:140px")
                p.text-light 超级棒的鞋子，买一百双都不够。超级棒的鞋子，买一百双都不够。超级棒的鞋子，买一百双都不够。重要的事情说三遍。超级棒的鞋子，买一百双都不够。超级棒的鞋子，买一百双都不够。超级棒的鞋子，买一百双都不够。重要的事情说三遍。
          div.carousel-item
            div.text-center
              h3.font-weight-bold.text-success.custom-text-shadow-white-1px Diana Horwell
              h5.text-white comes from 
                span.text-warning.custom-text-shadow-white-1px France
              div.container-fluid.w-75(style="height:140px")
                p.text-light De très bonnes chaussures m'ont rendu heureux. Je vous remercie. De très bonnes chaussures m'ont rendu heureux. Je vous remercie. De très bonnes chaussures m'ont rendu heureux. De très bonnes chaussures m'ont rendu heureux. Je vous remercie. De très bonnes chaussures m'ont rendu heureux. Je vous remercie.
        a.carousel-control-prev(href="#bs-testimonial-slide", role="button", data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#bs-testimonial-slide", role="button", data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next
  <!-- Testimonial Part End -->

block footer-scripts
  <!-- Timeline Script Begin -->
  script(src="/static/js/timeline.min.js")
  script.
    timeline(document.querySelectorAll('.timeline'), {
      forceVerticalMode: 700,
      mode: 'horizontal',
      verticalStartPosition: 'left',
      visibleItems: 5
    });
  <!-- Timeline Script End -->

  <!-- Slider Script Begin -->
  script(src="/static/js/jquery.sliderPro.min.js")
  script.
    $(document).ready(function($) {
      $('#bs-hot-slider').sliderPro({
        width: 400,
        height: 400,
        visibleSize: '50%',
        forceSize: 'fullWidth',
        autoSlideSize: true
      });
    });
  <!-- Slider Script End -->

  <!-- Go To Top Script Begin -->
  script(src="/static/js/hs.core.js")
  script(src="/static/js/hs.go-to.js")
  script.
    $(document).ready(function($) {
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  <!-- Go To Top Script End -->
