.custom-text-shadow-1px {
  text-shadow: 1px 1px 1px darkgray;
  -webkit-text-shadow: 1px 1px 1px darkgray;
  -moz-text-shadow: 1px 1px 1px darkgray;
  -ms-text-shadow: 1px 1px 1px darkgray
}
.custom-text-shadow-2px {
  text-shadow: 2px 2px 2px darkgray;
  -webkit-text-shadow: 2px 2px 2px darkgray;
  -moz-text-shadow: 2px 2px 2px darkgray;
  -ms-text-shadow: 2px 2px 2px darkgray
}
.custom-text-shadow-3px {
  text-shadow: 3px 3px 3px darkgray;
  -webkit-text-shadow: 3px 3px 3px darkgray;
  -moz-text-shadow: 3px 3px 3px darkgray;
  -ms-text-shadow: 3px 3px 3px darkgray
}
.custom-text-shadow-white-1px {
  text-shadow: 1px 1px 1px white;
  -webkit-text-shadow: 1px 1px 1px white;
  -moz-text-shadow: 1px 1px 1px white;
  -ms-text-shadow: 1px 1px 1px white;
}
.custom-text-shadow-white-2px {
  text-shadow: 2px 2px 2px white;
  -webkit-text-shadow: 2px 2px 2px white;
  -moz-text-shadow: 2px 2px 2px white;
  -ms-text-shadow: 2px 2px 2px white;
}

.costom-text-darkgray {
  color: darkgray
}

.costom-default-color-about {
  color: #666
}
.custom-div-about:hover path {
  fill: #76bb3e
}
.custom-div-about:hover h5 {
  color: #76bb3e
}

.custom-timeline-bgcolor {
  background: #ecf0f1
}

.costom-team-color {
  color: rgb(92, 116, 146)
}

.custom-news-bgcolor {
  background: #e7ecd1
}
.custom-news-title-color {
  color: #000000
}
.custom-news-title-color:hover {
  color: #186918;
  text-decoration: none 
}
.custom-news-content-color {
  color: #666
}

.custom-testimonial-bg {
  background: url("/imgs/testimonial-bg.jpg")
}

.custom-footer-bgcolor {
  background: #0b2130
}
.custom-footer-color, .custom-footer-brand {
  color: #ccc;
  text-decoration: none;
}
.custom-footer-brand:hover {
  text-decoration: none;
  color: white;
}

/*--social_media_icons_style--*/
.social_media ul li a {
  text-align: center;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  line-height: 34px;
  background: transparent;
  border: 2px solid #fff;
}

.social_media ul li a:hover path {
  fill: #15e99d;
}
/*--//social_media_icons_style--*/

/*------------------------------------
  Go To Top, code comes from Bootdtrap
------------------------------------*/
.u-go-to {
  display: none;
  position: relative;
  z-index: 100;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #25d825;
  color: #fff;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  opacity: 0.5;
  transition: 0.3s ease-out;
}

.u-go-to__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.u-go-to:hover, .u-go-to:focus:hover {
  color: #fff;
  opacity: 1;
}
